.body {
    display: grid;
    justify-items: center;
    align-content: center;
    padding: 25px 10px;
}

.userPhoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 25px;
}

.discriptionText{
    font-size: 18px;
    line-height: 0;
}

button {
    margin-top: 30px;
}

.input{
    margin-bottom: 0 !important;
}